body {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 40px ;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 0;
    line-height: 1.6;
}
.title_ {
    text-align: center;
    border-bottom: 2px solid black; /* Solid blue bar */
}
.hwline {
    border-bottom: 1px solid black; /* Solid blue bar */
}

header, section, footer {
    padding: 20px;
    padding-bottom: 0px;
}

header h1 {
    margin: 0;
}

a {
    color: #0275d8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.experience article, .education article {
    margin-bottom: 15px;
}

.company, .school {
    font-style: italic;
    color: #555;
}

ul {
    font-size: large;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.h3_ {
    text-align: center;
}

.flex-container {
    display: flex;
    padding-bottom: 10px;
}

.column {
    font-size: large;
    flex: 1; /* Ensures that each column takes up equal space */
}
.column1 {
    font-size: large;
    font-weight: bold;
    flex: 1; /* Ensures that each column takes up equal space */
}
.ulbold {
    font-weight: bold;
}
.space {
    padding: 50px;
}